// qindex and sform

@media only screen and (max-width: 900px){
  .center{
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
  }

  .form{
    align-self: center;
    -webkit-align-self: center;
  }
}
