@import 'colors.scss';

.question-show {
  flex: 3;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 30px;

  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px;
  font-family: "Open Sans", "serif";
}

.question-show-block {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

.question-show-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-bar {
  display: flex;
  align-items: center;
}

.username-time {
  align-self: flex-end;
  display: flex;
  font-family: 'Fira Mono', monospace;
  align-items: flex-end;
  margin: 25px 0;
  flex-direction: column;
}

.time {
  font-size: 75%;
}

.username {
  text-align: right;
  margin-top: 15px;
}

.edit-delete:hover {
  cursor: pointer;
  color: $terra;
}

.off {
  visibility: hidden;
}

.edit-dropdown {
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid black;
  right: 10px;
  top: 55px;
}

.active {
  color: $terra;
}
