@import 'colors.scss';

.question-show {
  flex: 3;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 20px;

  box-sizing: border-box;
  border-radius: 3px;
  font-family: "Playfair Display", "serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 90%;
}

.question-show-block {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
  background-color: rgba(205, 179, 128, 0.1);
  border: 1px solid rgba(3, 22, 52, 0.2);
  margin-bottom: 20px;
}

.question-show-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-bar .title h2 {
  color: $acqua;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  border-bottom: 1px solid rgba(3, 22, 52, 0.3);
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.username-time {
  align-self: flex-end;
  display: flex;
  font-family: 'PT Serif', serif;
  align-items: flex-end;
  margin: 15px 0;
  flex-direction: column;
}

.time {
  font-size: 75%;
}

.username {
  text-align: right;
  margin-top: 5px;
}

.fa-chevron-down:hover {
  cursor: pointer;
  color: $terra;
}

.title-bar i {
  padding-left: 10px;
  align-self: flex-start;
}


.off {
  visibility: hidden;
}

.edit-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  color: $abisso;
  box-shadow: 1px 1px 6px 0.5px rgba(3, 22, 5, 0.1);
}

.edit-dropdown p:hover {
  background-color: $abisso;
  color: white;
}

.edit-dropdown p {
  padding: 5px 15px;
}

.edit-dropdown div button {
  padding: 5px 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.edit-dropdown div button:hover{
  background-color: $abisso;
  color: white;
}

.active {
  color: $terra;
}

.edit-modal-after {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 70%;
  left: auto;
  background-color: white;
  border: 1px solid rgba(3, 54, 73, 0.4);
  padding: 30px;
  box-shadow: 2px 3px 10px rgba(3, 22, 52, 0.3);
  border: 1px solid $abisso;
  box-sizing: border-box;
}


.edit-modal-after input:last-of-type{
  margin-bottom: 1px;
  border: 2px solid rgba(3,22,52,0.7);
  font-size: 80%;
  padding: 4px;
  background-color: rgba(3,22,52,0.8);
  color: white;
  cursor: pointer;
}

.edit-modal-after input:last-of-type:hover {
  background-color: $abisso;
}

.edit-form {
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

.edit-form input, textarea {
  margin-bottom: 20px;
  border: 3px solid rgba(3,22,52,0.7);
  font-size: 80%;
  padding: 4px;
}

.question-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $abisso;
  margin-bottom: 20px;
}

.edit-modal-after h3{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0, 0.5);
  padding-bottom: 20px;
}

.question-show-items .body {
  border-bottom: 1px solid rgba(3, 22, 52, 0.3);
}

.question-show-items .body {
  padding-bottom: 15px;
}
