// Place all the styles related to the api/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors.scss';

.question-index {
  flex: 3;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 30px;

  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px;
  font-family: "Playfair Display", "serif";
}

.questions {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.question-lower{
  display: flex;
  border-radius: 0;
  padding-top: 5px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-size: 80%;
  border-top: 2px solid rgba(232, 221, 203, 0.7)
}

.question-upper {
  display: flex;
  justify-content: flex-start;
  border-radius: 0;
  padding-bottom: 5px;
  height: auto;
  width: 100%;
}

.question-bar{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border-bottom: 2px solid $terraTerra;
  min-height: 100px;
  padding: 5px;
}

.question-grid{
  width: 100%;
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  margin: 5px;
}

.question-title h3:hover {
  color: rgba(80, 80, 250, 0.8);
  text-shadow: 1px 1px 2px rgba(80, 80, 250, 0.1);
}

.upvote-block{
  flex: 1;
}

.upvote-block{

}

.question-username{
  flex: 1;
  text-align: right;
}

.question-created-at{
  flex: 3;
  text-align: right;
  font-size: 75%;
}

.question-fill-lower{
}

.questions-list-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 23px;
  padding-top: 15px;
  box-sizing: border-box;
}

.nav-center {
  flex: 5;
  width: 100%;
}

.questions-list-navigation button {
  cursor: pointer;
}

.questions-list-navigation:last-child button{
  cursor: pointer;
  flex: 1;
  align-self: flex-start;
}

.questions-list-navigation:last-child button:hover{
  color: $terra;
}

#qlv button i {
  width: 100%;
  height: 100%;
}

#qlv button{
  border: 1px solid rgba(205, 179, 128, 0.2);
}

#qlv button:hover{
  border: 1px solid rgba(205, 179, 128, 1);
}

#qlv .button-disabled:hover{
  border: 1px solid rgba(205, 179, 128, 0.2);
}

.questions-list-navigation:first-child {
  border-bottom: 2px solid $terraTerra;
}

.fa-chevron-left, .fa-chevron-right {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: color;
  transition-property: color;
}

.fa-chevron-left:hover, .fa-chevron-left:focus, .fa-chevron-left:active,
 .fa-chevron-right:hover, .fa-chevron-right:focus, .fa-chevron-right:active,{
  color: $terra;
}

.fa-chevron-left, .fa-chevron-right {
  color: $abisso;
}

#qlv .page-disabled {
  color: $terraTerra;
  cursor: default;
}
