@import 'colors.scss';

.question-show {
  flex: 3;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 30px;

  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px;
  font-family: "Open Sans", "serif";
}

.question-show-block {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

.question-show-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}

.username-time {
  align-self: flex-end;
  display: flex;
  font-family: 'Fira Mono', monospace;
  align-items: flex-end;
  margin: 25px 0;
  flex-direction: column;
}

.time {
  font-size: 75%;
}

.username {
  text-align: right;
  margin-top: 15px;
}

.fa-chevron-down:hover {
  cursor: pointer;
  color: $terra;
}

.title-bar i {
  padding-left: 10px;
  align-self: flex-start;
  margin-top: 20px;
}

.off {
  visibility: hidden;
}

.edit-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: $terraTerra;
  color: $abisso;
  box-shadow: 5px 5px 10px 1px rgba(3, 22, 5, 0.5);
}

.edit-dropdown p:hover {
  background-color: $abisso;
  color: white;
}

.edit-dropdown p {
  padding: 5px 15px;
}

.edit-dropdown div button {
  padding: 5px 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.edit-dropdown div button:hover{
  background-color: $abisso;
  color: white;
}

.active {
  color: $terra;
}

// .edit-modal {
//   position: absolute;
//   top: 40px;
//   right: 40px;
//   left: 40px;
//   bottom: 40px;
//   border: 1px solid black;
//   overflow: auto;
//   padding: 20px;
//   height: 100px;
//   width: 100px;
// }
//
// .edit-modal-overlay{
//   position: fixed;
//   top: 50px;
//   bottom: 50px;
//   right: 50px;
//   left: 50px;
//   background-color: rgba(255, 255, 255, 0.75);
// }

.edit-modal-after {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid black;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form input {
  margin: 10px;
  border: 1px solid $terra;
  padding: 3px;
}
