@import 'colors.scss';

.tab-bar {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
}


.tab-bar li button:not(.unselected) {
  border-top: 3px solid $terra;
  cursor: default;
}

.tab-bar li button {
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 10px;
  cursor: pointer;
}

.selected {
  color: $terra;
  font-weight: bolder;
}

.unselected {
  color: $terraTerra;
  border-top: 2px solid $terraTerra;
  font-size: 80%;
}

.unselected:hover{
  color: rgba(205, 179, 128, 0.8);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
