// Place all the styles related to the api/votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors.scss';

.question-bar .upvote-block .vote-block {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.question-bar .upvote-block .vote-block i {
  font-size: 175%;
  color: $acquaPro;
}

.question-bar .upvote-block .vote-block i:hover{
  color: $terra;
}

.question-bar .upvote-block .vote-block p {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.question-bar .upvote-block .vote-block .active {
  color: $terra;
}


.question-bar .upvote-block {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  margin-left: 15px;
}

.answered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  border: 1px solid rgba(3, 101, 100, 0.3);
  margin: 0 20px;
  min-width: 50px;
}

.answered-box {
  background-color: rgba(3, 101, 100, 0.1);
}

.answered h4{
  margin: 0;
  font-size: 70%
}

////////////////////////////////////////////////////////////

.question-show-title-bar {
  display: flex;
  display: -webkit-flex;
  align-self: flex-start;
  -webkit-align-self: flex-start;
  width: 80px;
  border-left: 2px solid rgba(3, 22, 52, 0.2);
  border-right: 2px solid rgba(3, 22, 52, 0.2);
  margin: 20px;
  justify-content: center;
}

.question-show-title-bar .vote-block {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.question-show-title-bar .vote-block i {
  font-size: 250%;
  color: $acquaPro;
  width: 100%;
  text-align: center;
}

.question-show-title-bar .vote-block i:hover{
  color: $terra;
}

.question-show-title-bar .vote-block .active{
  color: $terra;
}

.question-show-title-bar .vote-block p {
  text-align: center;
  font-size: 150%;
}

//////////////////////////////////////////////////////////////

.answer-title-upvote-block {
  display: flex;
  display: -webkit-flex;
  height: auto;
}

.answer-title-upvote-block .vote-block {
  width: 80px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
  margin-right: 15px;
}


.answer-title-upvote-block .title-bar{
  width: 100%;
}

.answer-title-upvote-block .vote-block i {
  font-size: 200%;
  color: $acquaPro;
}

.answer-title-upvote-block .vote-block .active {
  color: $terra;
}

.answer-title-upvote-block .vote-block i:hover{
  color: $terra;
}

.answer-title-upvote-block .vote-block .active{
  color: $terra;
}

.answer-title-upvote-block .vote-block p {
  font-size: 130%;
}

//////////////////////////////////////////////////////////////
