@import "api/colors.scss";

header, body, div, ul, li, img, h1, input, p, link, button,
a, h3{
  margin: 0;
  padding: 0;
  border: 0;

  list-style: none;

  background: transparent;
  font-size: 100%;
  font: inherit;

  border-radius: 3px;
  text-decoration: none;
  outline: none;
  font-family: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}
