@import "api/colors.scss";

header, body, div, ul, li, img, h1, input, p, link, button, a{
  margin: 0;
  padding: 0;
  border: 0;

  list-style: none;

  background: transparent;
  font-size: 100%;
  font: inherit;

  border-radius: 3px;
  text-decoration: none;
  outline: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}
