@import "api/colors.scss";

header, body, div, ul, li, img, h1, input, p, link, button,
a, h3, span, h1{
  margin: 0;
  padding: 0;
  border: 0;

  list-style: none;

  background: transparent;
  font-size: 100%;
  outline: none;
  border-radius: 3px;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  word-break: break-word;
}

input:focus {
  box-shadow: 0 1px rgba(3, 101, 100, 0.8) inset, 0 0 7px rgba(3, 101, 100, 1);
  outline: 0 none;
}


.link {
  text-decoration: none;
  color: black;
}

h3 {
  font-weight: bolder;
  color: $abisso;
}

h2 {
  font-weight: bolder;
  color: $abisso;
  font-size: 150%;
}

.inactve {
  color: $abisso;
}

body {
  background-image: image_url("background-image.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1800px;
  background-attachment: fixed;
}

i {
  cursor: pointer;
}
